<div class="row">
  <div class="twelve columns" style="margin-bottom: 50px">
    <div class="six columns" style="border: 1px solid #ccc; padding: 25px">
      <h1>Sign Up</h1>

      <%= form_for @user do |f| %>
        <div class="row">
          <% if @user.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        </div>

        <div class="row">
          <div class="">
            <%= f.label :email %>
            <%= f.text_field :email, :class => 'row' %>
          </div><br />
          <div class="">
            <%= f.label :password %>
            <%= f.password_field :password, :class => 'row' %>
          </div><br />
          <div class="">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'row' %>
          </div><br />
          <div class="medium primary btn"><%= f.submit "Sign Up" %></div>
        </div>

      <% end %>
    </div>

    <div class="six columns">

    </div>

  </div>
</div>