.container
  .row
    .twelve.columns
      %h2 Sign Up
  .row
    .twelve.columns
      .three.columns
      .six.columns{:style => 'border: 1px solid #ccc; margin-bottom:50px; padding:25px'}
        = form_for @user do |f|
          - if @user.errors.any?
            .error_messages
              %h2 Form is invalid
              %ul
                - @user.errors.full_messages.each do |message|
                  %li= message
          %div
            = f.label :first_name
            = f.text_field :first_name
          %div
            = f.label :last_name
            = f.password_field :last_name
          %br/
          %div
            = f.label :email
            = f.text_field :email
          %br/
          %div
            = f.label :password
            = f.password_field :password
          %br/
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %br/
          .medium.primary.btn= f.submit "Sign Up"
      .three.columns